<app-spinner-top *ngIf="isLoading"></app-spinner-top>
<div class="form-container" style="width: 100%;" [routerLink]="['/orders', order.id]" *ngFor="let order of orders | orderfilter:orderId">
  <div class="order_inner">
    <h2 class="order_header">{{order.store_name}}</h2>
    <p *ngIf="order.status === 'pending'" class="color_point pending"></p>
    <p *ngIf="order.status === 'in progress'" class="color_point progress"></p>
    <p *ngIf="order.status === 'pick up'" class="color_point pick"></p>
    <p *ngIf="order.status === 'completed'" class="color_point completed"></p>
    <p *ngIf="order.status === 'rejected'  || order.status === 'cancelled'" class="color_point cancel-reject"></p>
    <span class="status">{{order.status | titlecase}}</span>
  </div>
  <div style="display: flex; justify-content: center; height: fit-content; flex-direction: row;">

    <div class="order_inner">
      <h3 class="order_normal" style="min-width: 170px;">Order No : &nbsp;{{ order.id }}</h3>
    </div>

    <div class="order_inner">
      <h3 class="order_normal" style="width: 100%; min-width: 150px;">Customer : &nbsp;{{order.customer_name | titlecase}}</h3>
    </div>

    <div class="order_inner">
      <h3 class="order_normal" style="width: 120px;"><img class="date-time-btn" src="./../../assets/calendar.svg"> : &nbsp;{{ order.date }}</h3>
    </div>

    <div class="order_inner">
      <h3 class="order_normal" style="width: 100px;"><img class="date-time-btn" src="./../../assets/clock.svg"> : &nbsp;{{ order.time }}</h3>
    </div>

    <div class="order_inner">
      <h3 class="order_normal" style="width: 90px;">Total : &nbsp;{{order.total}}</h3>
    </div>
  </div>
</div>

<app-no-orders *ngIf="!orders.length && !  isLoading"></app-no-orders>
