<div class="container">
  <h1 style="height: fit-content;">Employees</h1>

  <div class="portion">
    <input style="width: 25%; height: 3%; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8; border-radius: 30px; float: left;" type="text" placeholder="Search Employee" >
    <br><br><br><br><br><br>
    <div style="box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); display: flex; flex-direction: row; height: 600px; border-radius: 8px;">
      <div style="width: 50%; margin: 100px 20px; height: 400px;">
        <label style="font-size: 18px; text-align: left;" for="id">First Name:</label>
        <input style="height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 125px; width: 300px;" type="text" placeholder="Enter First Name"><br>

        <label style="font-size: 18px;" for="id">NIC:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 170px; width: 300px;" type="text" placeholder="Enter NIC"><br>

        <label style="font-size: 18px;" for="id">Email:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 160px; width: 300px;" type="text" placeholder="Enter Email"><br>

        <label style="font-size: 18px;" for="id">Address:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 145px; width: 300px;" type="text" placeholder="Enter Address"><br>

        <label style="font-size: 18px;" for="id">Type:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 170px; width: 300px;" type="text" placeholder="Select Type">
      </div>
      <div style="width: 50%; margin: 100px 20px; height: 400px;">
        <label style="font-size: 18px; text-align: left;" for="id">Last Name:</label>
        <input style="height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 130px; width: 300px;" type="text" placeholder="Enter Last Name"><br>

        <label style="font-size: 18px;" for="id">DOB:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 168px; width: 300px;" type="text" placeholder="Date of Birth"><br>

        <label style="font-size: 18px;" for="id">Mobile:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 158px; width: 300px;" type="text" placeholder="Enter Mobile Number"><br>

        <label style="font-size: 18px;" for="id">Access:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 155px; width: 300px;" type="text" placeholder="Select Access">
      </div>
    </div>
    <br><br><br><br><br>
    <div style="height: 100px; display: flex;">
      <button style=" margin-left: 100px; height: 36px; padding: 0px 10px; align-items: center; background: #3CB371; border-radius: 4px; display: flex; align-items: center; text-align: center; letter-spacing: 0.84px; color: #FFFFFF;">INSERT EMPLOYEE</button>
      <button style=" margin-left: 200px; height: 36px; padding: 0px 10px; align-items: center; background: #3CB371; border-radius: 4px; display: flex; align-items: center; text-align: center; letter-spacing: 0.84px; color: #FFFFFF; opacity: 0.6;">UPDATE EMPLOYEE</button>
      <button style=" margin-left: 200px; height: 36px; padding: 0px 10px; align-items: center; background: #3CB371; border-radius: 4px; display: flex; align-items: center; text-align: center; letter-spacing: 0.84px; color: #FFFFFF; opacity: 0.6;">DELETE EMPLOYEE</button>
      <button style=" margin-left: 200px; height: 36px; padding: 0px 10px; align-items: center; background: #EFA5A8; border-radius: 4px; display: flex; align-items: center; text-align: center; letter-spacing: 0.84px; color: #FFFFFF; opacity: 0.6; width: 140px; padding-left: 50px;">CANCEL</button>
    </div>

  </div>
</div>
