<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container" *ngIf="!isLoading">
  <app-profile-header></app-profile-header>
  <h1 class="header">Orders</h1>

  <div class="portion">
    <form class="search-form" action="">
      <input class="search" type="text" placeholder="Search Order" name="orderSearch" [(ngModel)]="searchedOrderId" >
      <button class="img-btn" type="submit"><img src="./../../assets/icon.svg">  </button>
    </form>

    <div class="buttons-div">
      <button class="form-button" (click)="all()" [class.active-form-button]="allStatus === true">All</button>
      <button class="form-button " (click)="pending()" [class.active-form-button]="pendingStatus === true">Pending</button>
      <button class="form-button" (click)="progress()" [class.active-form-button]="progressStatus === true">In Progress</button>
      <button class="form-button" (click)="pick()" [class.active-form-button]="pickStatus === true">Pick Up</button>
      <button class="form-button" (click)="completed()" [class.active-form-button]="completedStatus === true">Completed</button>
    </div>

    <div *ngIf="allStatus == true" style=" display: flex; flex-direction: column; justify-content :space-around; width: 100%; height: fit-content; ">
      <app-orders-all style="height: fit-content;"  *ngIf="allStatus == true" [orderId]="searchedOrderId"></app-orders-all>
    </div>
    <div *ngIf="pendingStatus == true" style=" display: flex; flex-direction: column; justify-content :space-around; width: 100%; height: fit-content; ">
      <app-orders-pending style="height: fit-content;" *ngIf="pendingStatus == true" [orderId]="searchedOrderId"></app-orders-pending>
    </div>
    <div *ngIf="progressStatus == true" style=" display: flex; flex-direction: column; justify-content :space-around; width: 100%; height: fit-content; ">
      <app-orders-progress style="height: fit-content;" *ngIf="progressStatus == true" [orderId]="searchedOrderId"></app-orders-progress>
    </div>
    <div *ngIf="pickStatus == true" style=" display: flex; flex-direction: column; justify-content :space-around; width: 100%; height: fit-content; ">
      <app-orders-pick style="height: fit-content;" *ngIf="pickStatus == true" [orderId]="searchedOrderId"></app-orders-pick>
    </div>

    <div *ngIf="completedStatus == true" style=" display: flex; flex-direction: column; justify-content :space-around; width: 100%; height: fit-content; ">
      <app-orders-completed style="height: fit-content;" *ngIf="completedStatus == true" [orderId]="searchedOrderId"></app-orders-completed>
    </div>

  </div>
</div>
