<div class="container">
  <div class="image-container">
    <img src="./../../assets/login-screen.png">
  </div>
  <div class="login-container">
    <div class="logo-container">
      <img src="./../../assets/logo-white.png">
    </div>
    <div class="h1-div">
      <h1 class="h1">Welcome Back!</h1>
    </div>
    <div class="form-container">
      <form>
        <input class="form-input" type="text"placeholder="Enter Email">

        <input class="form-input" type="text" placeholder="Enter Password">

        <div class="buttons-div">
          <button class="form-button">LOGIN</button>
        </div>
      </form>

      <div class="link">
        <a href="#">Forgot Your Password?</a>
      </div>

    </div>
  </div>
</div>
