<div class="container">
  <h1 style="height: fit-content;">Items</h1>

  <div class="portion">
    <input style="width: 25%; height: 3%; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8; border-radius: 30px; float: left;" type="text" placeholder="Search Item" >
    <br><br><br><br><br><br>
    <div style="box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); display: flex; flex-direction: row; height: 525px; border-radius: 8px;">
      <div style="width: 50%; margin: 100px 20px; height: 400px;">
        <label style="font-size: 18px; text-align: left;" for="id">Item ID:</label>
        <input style="height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 125px; width: 300px;" type="text" placeholder="Enter Item ID"><br>

        <label style="font-size: 18px;" for="id">Description:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 105px; width: 300px;" type="text" placeholder="Enter Description"><br>

        <label style="font-size: 18px;" for="id">Type:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 155px; width: 300px;" type="text" placeholder="Select Type"><br>

        <label style="font-size: 18px;" for="id">Price:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 152px; width: 300px;" type="text" placeholder="Enter Price">
      </div>
      <div style="width: 50%; margin: 100px 20px; height: 400px;">
        <label style="font-size: 18px; text-align: left;" for="id">Item Name:</label>
        <input style="height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 125px; width: 300px;" type="text" placeholder="Enter Item Name"><br>

        <label style="font-size: 18px;" for="id">Picture:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 150px; width: 300px;" type="text" placeholder="Upload Item Picture"><br>

        <label style="font-size: 18px;" for="id">Portion:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 150px; width: 300px;" type="text" placeholder="Select Portion"><br>

        <label style="font-size: 18px;" for="id">Availability:</label>
        <input style="margin-top: 50px; height: 30px; font-size: 16px; padding: 5px 5px 5px 20px; border: 1px solid #DDE2E8;  margin-left: 125px; width: 300px;" type="text" placeholder="Select Availability">
      </div>
    </div>
    <br><br><br><br><br>
    <div style="height: 100px; display: flex;">
      <button style=" margin-left: 100px; height: 36px; padding: 0px 10px; align-items: center; background: #3CB371; border-radius: 4px; display: flex; align-items: center; text-align: center; letter-spacing: 0.84px; color: #FFFFFF;">INSERT ITEM</button>
      <button style=" margin-left: 200px; height: 36px; padding: 0px 10px; align-items: center; background: #3CB371; border-radius: 4px; display: flex; align-items: center; text-align: center; letter-spacing: 0.84px; color: #FFFFFF; opacity: 0.6;">UPDATE ITEM</button>
      <button style=" margin-left: 200px; height: 36px; padding: 0px 10px; align-items: center; background: #3CB371; border-radius: 4px; display: flex; align-items: center; text-align: center; letter-spacing: 0.84px; color: #FFFFFF; opacity: 0.6;">DELETE ITEM</button>
      <button style=" margin-left: 200px; height: 36px; padding: 0px 10px; align-items: center; background: #EFA5A8; border-radius: 4px; display: flex; align-items: center; text-align: center; letter-spacing: 0.84px; color: #FFFFFF; opacity: 0.6; width: 100px; padding-left: 25px;">CANCEL</button>
    </div>

  </div>
</div>
