<div class="container">
  <h1 class="header">Order Details</h1>

  <div class="portion">
      <div class="form-container">
        <div class="order_inner">
          <h2 class="order_header">Street Food Store</h2>
          <div class="order_inner_right"><a class="view-order"><img class="img-right" src="./../../assets/Icon button.svg">View Order</a></div>
        </div>


        <div class="order_inner">
          <h3 class="order_normal">Order No : &nbsp;{{ "#2302063" }}</h3>
        <p class="color_point"></p><span class="status">{{"Pending"}}</span>
        </div>

        <div class="order_inner">
          <h3 class="order_normal">Customer : &nbsp;{{ "Dinil" }}</h3>
        </div>

        <div class="order_inner">
          <h3 class="order_normal"><img class="date-time-btn" src="./../../assets/calendar.svg"> : &nbsp;{{ "15 Feb, 2023" }}</h3>
        </div>

        <div class="order_inner">
          <h3 class="order_normal"><img class="date-time-btn" src="./../../assets/clock.svg"> : &nbsp;{{ "02.18 PM" }}</h3>
        </div>

        <div class="buttons-div">
          <button class="form-button">Accept Order</button>
          <div class="order_inner_right"><img class="order-arrow" src="./../../assets/arrow.svg"></div>
        </div>
      </div>



      <div class="form-container-holder">

        <div class="form-container-2" style="width: 60%;">
          <div class="top-header">
            <h3 class="top-header-topic">Order Details</h3>
          </div>

          <div class="items" style="margin-top: 70px;">

            <div class="item-row">
              <div class="item-row-left">
                <img class="img-left" src="./../../assets/pic.jpg">
                <h3 class="item-left"> Chicken Burger</h3>
              </div>
              <div class="item-row-right">
                <h3 class="item-left"> 750.00</h3>
                <h3 class="item-left"> 2</h3>
                <h3 class="item-left"> 1500.00</h3>
              </div>
            </div>

            <div class="item-row">
              <div class="item-row-left">
                <img class="img-left" src="./../../assets/pic.jpg">
                <h3 class="item-left"> Chicken Burger</h3>
              </div>
              <div class="item-row-right">
                <h3 class="item-left"> 750.00</h3>
                <h3 class="item-left"> 2</h3>
                <h3 class="item-left"> 1500.00</h3>
              </div>
            </div>

            <div class="item-row">
              <div class="item-row-left">
                <img class="img-left" src="./../../assets/pic.jpg">
                <h3 class="item-left"> Chicken Burger</h3>
              </div>
              <div class="item-row-right">
                <h3 class="item-left"> 750.00</h3>
                <h3 class="item-left"> 2</h3>
                <h3 class="item-left"> 1500.00</h3>
              </div>
            </div>

            <div class="item-row">
              <div class="item-row-left">
                <img class="img-left" src="./../../assets/pic.jpg">
                <h3 class="item-left"> Chicken Burger</h3>
              </div>
              <div class="item-row-right">
                <h3 class="item-left"> 750.00</h3>
                <h3 class="item-left"> 2</h3>
                <h3 class="item-left"> 1500.00</h3>
              </div>
            </div>

            <div class="item-row">
              <div class="item-row-left">
                <img class="img-left" src="./../../assets/pic.jpg">
                <h3 class="item-left"> Chicken Burger</h3>
              </div>
              <div class="item-row-right">
                <h3 class="item-left"> 750.00</h3>
                <h3 class="item-left"> 2</h3>
                <h3 class="item-left"> 1500.00</h3>
              </div>
            </div>

          </div>

          <div class="details">
            <div class="details-inner">
              <h3 class="item-price-tags"> Sub Total : </h3>
              <h3 class="item-price-tags"> Discount : </h3>
              <h3 class="item-price-tags"> Total : </h3>
            </div>
            <div class="details-inner">
              <h3 class="item-price-value "> 3000.00</h3>
              <h3 class="item-price-value"> 00.00</h3>
              <h3 class="item-price-value "> 3000.00</h3>
            </div>
          </div>
        </div>

        <div class="form-container-2" style="width: 35%; padding-bottom: 30px;">
          <div class="top-header">
            <h3 class="top-header-topic">Customer</h3>
          </div>

          <div class="items" style="margin-top: 70px;">
            <div class="item-row">
              <div class="profile-div">
                <div class="inner-profile-div">
                  <!-- <img class="profile-img" src="./../../assets/profile pic.jpg" *ngIf="user.url == 'https://canteen-management-system-nsbm.s3.ap-south-1.amazonaws.com/profile+pic.jpg'">
                  <img class="profile-img" [src]="user.url" *ngIf="user.url != 'https://canteen-management-system-nsbm.s3.ap-south-1.amazonaws.com/profile+pic.jpg' "> -->
                  <img class="profile-img" src="./../../assets/profile pic.jpg">
                </div>
                <h3 class="item-customer" style="margin-left: 20px;"> Dinil</h3>
              </div>
            </div>
            <div class="item-column">
              <h3 class="item-customer"> Email Address</h3>
              <h3 class="item-customer-value"> Dinil@gmail.com</h3>
            </div>
            <div class="item-column">
              <h3 class="item-customer"> Mobile Number</h3>
              <h3 class="item-customer-value"> 0783323251</h3>
            </div>
            <div class="item-column">
              <h3 class="item-customer"> Type</h3>
              <h3 class="item-customer-value"> Student</h3>
            </div>
          </div>
        </div>

      </div>

      <div class="form-container" style="margin-bottom: 100px;">
        <div class="top-header" style="background-color: #FFC7C9;">
          <h3 class="top-header-topic" style="background-color: #FFC7C9;">Reject Order</h3>
        </div>

        <h3 class="item-customer" style="margin-top: 70px; font-weight: 600;"> Reason</h3>

        <form class="form-reject">
          <select class="form-input" name="reject_reason" required>
            <option value="" disabled selected hidden>Select Reason</option>
            <option value="open">Open</option>
            <option value="blocked">Blocked</option>
          </select>
        </form>

        <div class="buttons-div">
          <button class="form-button" style="margin: 10px 0px; background-color: #E8565B ;">Reject</button>
        </div>
      </div>
  </div>
</div>
