<div class="container">
  <h1 class="header">Profile</h1>

  <div class="portion">
    <div class="profile-div">
      <div class="inner-profile-div">
        <img class="profile-img" src="./../../assets/profile pic.jpg">
      </div>
    </div>
    <a src="#" class="edit-link">Edit Profile Picture</a>

    <h2 class="sub-header">User Details</h2>

    <form>
      <div class="form-container" style="display: flex; flex-direction: column;">
        <div class="form-inner-container">
          <div class="form-row">
            <label class="form-label">First Name:</label>
            <input class="form-input" required style="margin-left: 40px;" type="text" placeholder="Enter First Name"><br>

            <label class="form-label">NIC:</label>
            <input class="form-input" required style="margin-left: 90px;" type="text" placeholder="Enter NIC"><br>

            <label class="form-label">Email:</label>
            <input class="form-input" required style="margin-left: 79px;" type="text" placeholder="Enter Email"><br>

            <label class="form-label">Address:</label>
            <input class="form-input" required style="margin-left: 63px;" type="text" placeholder="Enter Address"><br>

            <label class="form-label">Type:</label>
            <select class="form-input" required style="margin-left: 87px;">
              <option value="" disabled selected hidden>Select Type</option>
              <option value="owner">Owner</option>
              <option value="employee">Employee</option>
            </select>

          </div>
          <div class="form-row">
            <label class="form-label">Last Name:</label>
            <input class="form-input" required style="margin-left: 40px;" type="text" placeholder="Enter Last Name"><br>

            <label class="form-label">DOB:</label>
            <input class="form-input" required style="margin-left: 81px;" type="date"><br>

            <label class="form-label">Mobile:</label>
            <input class="form-input" required style="margin-left: 68px;" type="text" placeholder="Enter Mobile Number"><br>

            <label class="form-label">Access:</label>
            <select class="form-input" required style="margin-left: 70px;">
              <option value="" disabled selected hidden>Set Access</option>
              <option value="open">Open</option>
              <option value="blocked">Blocked</option>
            </select><br>

            <label class="form-label">Vendor:</label>
            <select class="form-input" required style="margin-left: 70px;">
              <option value="" disabled selected hidden>Select Vendor</option>
              <option value="open">Street Food Store</option>
              <option value="blocked">Indian Store</option>
            </select>

          </div>
        </div>
        <div class="form-row" *ngIf="!clicked">
          <button type="submit" class="form-button">Edit Profile</button>
        </div>
        <div class="buttons-div" *ngIf="clicked">
          <div class="left">
            <button class="form-button disabled left">Update Profile</button>
          </div>
          <div class="right">
            <button class="form-button disabled red">Cancel</button>
          </div>
        </div>
      </div>
    </form>


    <h2 class="sub-header">Change Password</h2>

    <form>
      <div class="form-container password-container" style="display: flex; flex-direction: column;">
        <div class="form-inner-container">
          <div class="form-row">
            <label class="form-label">First Name:</label>
            <input class="form-input" required style="margin-left: 40px;" type="text" placeholder="Enter First Name"><br>

            <label class="form-label">NIC:</label>
            <input class="form-input" required style="margin-left: 90px;" type="text" placeholder="Enter NIC"><br>

            <label class="form-label">Email:</label>
            <input class="form-input" required style="margin-left: 79px;" type="text" placeholder="Enter Email"><br>

          </div>
        </div>
        <div class="form-row" *ngIf="!clicked">
          <button type="submit" class="form-button">Change Password</button>
        </div>
        <div class="buttons-div" *ngIf="clicked">
          <div class="left">
            <button class="form-button disabled left">Update Password</button>
          </div>
          <div class="right">
            <button class="form-button disabled red">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
